[submodule "modules_dep/urn-core-dep"]
	path = modules_dep/urn-core-dep
	url = git+ssh://git@bitbucket.org/nbl7/urn-core-dep.git
	branch = master
	update = rebase
[submodule "modules_dep/urn-core-dep-dev"]
	path = modules_dep/urn-core-dep-dev
	url = git+ssh://git@bitbucket.org/nbl7/urn-core-dep-dev.git
	branch = master
	update = rebase
